.project
solr-config/example/conf/default_conf/
solr-config/example/conf/_rest_managed.json
solr-config/example/conf/dataimport.properties
solr-config/example/data/
solr-config/example/lib/
solr-config/hsperfdata_*
*/target/
